nav.navbar.navbar-inverse.navbar-fixed-top
	//- centers container
	div.container
		div.navbar-header
			//- position to the left of the page
			a.navbar-brand(href='/') Sample Apps

		ul.nav.navbar-nav.navbar-right
			li(ng-class="{ active: navigation === 'Home' }", ng-click="navigation = 'Home'")
				a(ui-sref='index') Home
			li(ng-class="{ active: navigation === 'Posts Feed' }", ng-click="navigation='Posts Feed'")
				a(ui-sref='posts-feed') Posts Feed
			li(ng-if="showLogoutBtn")
				a(href="/logout", target="_self") Logout
			li(ng-if="current_user_pic")
				img(src="{{current_user_pic}}")