div.progress.custom-progress
	div.progress-bar.progress-bar-success.custom-progress-bar(role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;")
		span.custom-progress-bar-text Step 1