doctype html
html(ng-app="ngMyApp")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="javascripts/vendors/jquery-1.11.3.js")
		script(src="javascripts/vendors/angular.js")
		//- script(src="javascripts/app/controllers/main.controller.js")
		script(src="javascripts/app.min.js")
	body
		div(ng-controller="mainController")
			h2 {{title}}
			h2 Below is data from the GET AJAX request:
			h3 {{info.title}}
			p {{info.body}}
			block content