doctype html
html(ng-app="ngMyApp")
		title= "My App"
		base(href="/")
		//- Bootstrap css file
		link(rel='stylesheet', href='bootstrap-3.3.5-dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/vendors/angular.js')
		script(src='javascripts/vendors/jquery-1.11.3.js')
		//- Bootstrap js file
		script(src='bootstrap-3.3.5-dist/js/bootstrap.js')
		script(src='javascripts/vendors/angular-ui-router.js')
		script(src='javascripts/app.min.js')


	body
		
		include ./includes/header

		div.container-fluid
			//- block content

			div(ui-view)

		include ./includes/footer