doctype html
html(ng-app="ngMyApp")
	head
		title= title
		base(href="/")
		//- Bootstrap css file
		link(rel='stylesheet', href='bootstrap-3.3.5-dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/vendors/angular.js')
		script(src='javascripts/vendors/jquery-1.11.3.js')
		//- Bootstrap js file
		script(src='bootstrap-3.3.5-dist/js/bootstrap.js')
		script(src='javascripts/vendors/angular-ui-router.js')
		script(src='javascripts/app.min.js')


	body
		
		nav.navbar.navbar-inverse.navbar-fixed-top
			//- centers container
			div.container
				div.navbar-header
					//- position to the left of the page
					a.navbar-brand(href='/') Sample Apps
						//- adds padding for all the navigation links
						//- styles li as links for navigation
				ul.nav.navbar-nav.navbar-right
					li.active
						a(ui-sref='main') Home
					//- li
					//- 	a(ui-sref='') Test

		div(ui-view).container-fluid
		//- (ng-controller='MainController')
		//- 	block content

	footer.navbar.navbar-inverse.navbar-fixed-bottom
		div.container
			p.text-center Footer Example