div.container
	div.row
		div.col-sm-5.col-md-5.col-lg-5
			h1.text-center.white-font.account-heading LOGIN
			form(action="/login", method="post")
				div.form-group
					label.white-label(for="userName") User Name
					input.form-control(type="text", id="userName", placeholder="user name", name="username")
				//- input(type="text", placeholder="username", ng-model="login.username")
				div.form-group
					label.white-label(for="userPassword") Password
					input.form-control(type="password", id="userPassword", placeholder="password", name="password")
				//- input(type="text", placeholder="password", ng-model='login.password')
				input.btn.btn-success.btn-lg.btn.block(type="submit", value="Login")
				span.or-text OR
				a(href="/auth/google/", target="_self")
					button.btn.btn-danger.btn-lg.btn.block Login with Google+
		div.col-sm-2.col-md-2.col-lg-2
			hr.vertical-rule
		div.col-sm-5.col-md-5.col-lg-5(ng-controller="CreateAccountController")
			h1.text-center.white-font.account-heading CREATE ACCOUNT
			form(name="createAccountForm", method="post", ng-submit="createAccountForm.$valid && saveUser(newUser)", novalidate)
				div.form-group
					label.white-label(for="userName") User Name
						span.asterik-red  *
						span.smaller-font(ng-show="userNameUnavailable") (username already exists)
					input.form-control(type="text", id="userName", placeholder="user name", name="username", ng-model="newUser.username", required)
				//- input(type="text", placeholder="username", ng-model="login.username")
				div.form-group
					label.white-label(for="userPassword") Password
						span.asterik-red  *
						span.smaller-font(ng-show="passwordLengthMessage") (password must be at least 5 characters)
					input.form-control(type="password", id="userPassword", placeholder="password", ng-model="newUser.password" name="password", required, ng-minlength="5")
				//- input(type="text", placeholder="password", ng-model='login.password')
				div.form-group
					label.white-label(for="userPassword") Confirm Password
						span.asterik-red  *
						span.smaller-font(ng-show="passwordNotMatchingMessage") (passwords do not match)
					input.form-control(type="password", id="userPassword", placeholder="password", ng-model="newUser.confirmPassword", name="confirmPassword", required, ng-minlength="5")
				//- input(type="text", placeholder="password", ng-model='login.password')
				input.btn.btn-warning.btn-lg(type="submit", value="Continue")
			p.white-font {{passwordMessage}}