div
  table(style="width:100%")
    tr
      th First Name
      th Last Name
      th Email
    tr
      td Jill
      td Smith
      td 50@c.com
    tr
      td Eve
      td Jackson
      td 94@c.com