body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background-image2.jpg');
  background-repeat: none  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

dl {

}

.well {
	background: #ffffff !important;
}

.friends-list-section{
	padding: 10px 10px;
	border-radius: 4px;
}

.btn-profile {
	margin-right: 5px !important;
	float: right;
	font-size: 10px;
}

.friend-name {
	clear: both;
	line-height: 2;
	margin: 10px 0;
}

.friend-name-space {
	padding: 10px 5px;
}

.friend_selected {
	background-color: #cccccc;
	border-radius: 5px;
}

.friend-details-section {
	min-height: 415px;
	font-size: 18px;	
	margin-left: 50px;
	min-width: 950px;
}

.name-title {
	padding-top: 25px;
}

.btn-profile-posts {
	margin-bottom: 30px;
}

.user-posts {
	margin: 10px 0px;
	font-size: 18px;
}

.footer {
	position: absolute;
	margin-top: 100%;
	padding-bottom: 0px;
	width: 100%;
	height: 60px;
	background-color: black;
}

.footer-text {
	margin-top: 15px;
	color: #ffffff;
}

/* LOGIN PAGE */

.white-label {
	color: #ffffff;
	font-size: 24px;
}

.white-font {
	color: #ffffff;
}

.account-heading {
	padding-top: 20px;
	margin-bottom: 50px;
}

.vertical-rule {
	height: 460px;
	width:1px;
	border:1px inset #ffffff;
	margin:5px;
	margin: 20px auto;
}

.or-text {
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
}

.asterik-red {
	color: #d9534f;
	font-size: 30px;
}

.smaller-font {
	font-size: 12px;
	margin-left: 60px;
}

/* Forms */

.form-control {
	border: 3px solid #ccc;
}

.ng-invalid.ng-dirty {
	/* Red */
	border-color: #d9534f;
	
}

.ng-valid.ng-dirty {
	/* Green */
	border-color: #5cb85c;
}