pre Sorting predicate = {{predicate}}; reverse = {{reverse}}
div.table-responsive
	table.table.table-striped
		tr
			th.text-center(ng-repeat="header in headers") {{header}} 
				a(href="#", ng-show="reverse", ng-click="sortData($index)") 
					span.glyphicon.glyphicon-chevron-up(aria-hidden="true")
				a(href="#", ng-hide="reverse", ng-click="sortData($index)")
					span.glyphicon.glyphicon-chevron-down(aria-hidden="true")
		tr(ng-repeat="row in rows | orderBy:predicate:reverse", ng-if="startPageRange <= $index && $index < endPageRange")
			td {{$index + 1}}
			td(ng-bind-html='row.column2')
			td {{row.column3}}
			td {{row.column4}}
	nav.text-center
		ul.pagination.pagination-lg
			li(ng-click="showPreviousPage()")
				a(href="#", aria-label="Previous")
					span(aria-hidden="true")&laquo;
			li(ng-repeat="page in numberOfPages track by $index", ng-click="showPage($index)")
				a(href="#") {{$index + 1}}
			li(ng-click="showNextPage()")
				a(href="#" aria-label="Next")
					span(aria-hidden="true")&raquo;