div.white-font
	label.checkbox-inline
		input(type="radio", name="billingAddressRadio", id="billingAddressYes") 
		| YES
	label.checkbox-inline
		input(type="radio", name="billingAddressRadio", id="billingAddressNo") 
		| NO